.players-table {
  width: 100%;
  margin: 20px auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px 15px;
  text-align: center;
}

th {
  font-weight: bold;
  color: #4b2c69;
  text-transform: uppercase;
  text-align: center;
}

tbody tr {
  border-bottom: 1px solid #ddd;
}

tbody tr:hover {
  background-color: #f5f5f5;
}

.player-info {
  display: flex;
  align-items: center;
  gap: 10px; /* Add spacing between image and text */
}

.player-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
